<div class="w-75 pb-3 m-auto">
  Favor inserir apenas arquivo no formato .xlsx com uma
  <strong>data</strong> dados e informações conforme a imagem abaixo:

  <img [src]="imagePath" alt="exemplo" class="img-fluid p-3" />
  <div class="input-group mb-3">
    <label class="input-group-text" for="upButton">Upload</label>
    <input
      (change)="selectFile($event)"
      type="file"
      class="form-control"
      id="upButton"
    />
  </div>
  <button type="submit" class="btn btn-secondary" [routerLink]="['/']">
    Voltar
  </button>
  <button (click)="uploadFile()" type="submit" class="btn btn-success ms-3">
    Inserir
  </button>
</div>
