<div class="d-flex flex-wrap flex-row-reverse mb-3 gap-3">
  <button type="button" class="btn btn-success" [routerLink]="['/sheet']">
    Adicionar planilha
  </button>
  <button type="button" class="btn btn-primary" [routerLink]="['/form']">
    Adicionar participante
  </button>
  <button (click)="getFile()" type="button" class="btn btn-secondary">
    Baixar planilha
  </button>
</div>
<table class="table table-striped table-hover m-0">
  <thead class="table-dark">
    <tr>
      <th>Identificação</th>
      <th>Nome</th>
      <th>Idade</th>
      <th>Média</th>
    </tr>
  </thead>
  <tbody *ngIf="participants.length > 0; else onLoad">
    <tr *ngFor="let partcipant of participants">
      <td>{{ partcipant.identification }}</td>
      <td>{{ partcipant.name }}</td>
      <td>{{ partcipant.age }}</td>
      <td>{{ partcipant.average }}</td>
    </tr>
  </tbody>

  <ng-template #onLoad>
    <tbody>
      <Tr class="placeholder-glow">
        <td><span class="placeholder container"></span></td>
        <td><span class="placeholder container"></span></td>
        <td><span class="placeholder container"></span></td>
        <td><span class="placeholder container"></span></td>
      </Tr>
    </tbody>
  </ng-template>
</table>
